.formHeader {
  text-align: center;
  font-size: 2rem;
  margin: 10px;
}

form {
  border: 1px solid grey;
  border-radius: 4px;
  justify-content: center;
  padding: 0 3rem;
}

.formFields {
  margin: auto;
  min-width: 85%;
  display: block;
  box-sizing: border-box;
}

.formField {
  padding: 20px 0px;
  /* text-align: center; */
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: .9em;
  color: black;
}

.formFieldInput {
  width: 100%;
  border: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding: 0.75rem 1rem;
  margin-top: 10px;
  border-radius: 4px;
  box-sizing: border-box
}

.formFieldButton {
  width: 100%;
  padding-bottom: 20px;
}

.errorMsg {
  color: red;
  margin-top: 10px;
}