.gridItem {
  /* padding-left: 2rem;
  padding-right: 2rem; */
  padding-bottom: 1rem;
}

.textField {
  width: 100%;
}

.container {
  /* display: block;
  flex-wrap: wrap;
  box-sizing: border-box; */
  margin: 0;
  align-self: center;
  width: 90%;
  padding-bottom: 2rem;
}
