.paymentContainer {
  margin: 30px;
}

.form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form label {
  margin: 5px 10px 5px 0;
}

.form input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form button {
  padding: 10px 20px;
  background-color: #41521f;
  border: 1px solid #41521f;
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

@media (max-width: 3000px) {
  .form input {
    margin: 10px 0;
  }

  .form {
    flex-direction: column;
    align-items: stretch;
  }
}
