/* ======== User Profile Settings =======*/

.settingsContainer {
  margin: 3% 10% 0% 12.5%;
  display: flex;
  justify-content: center;
}

.settingsContent {
  width: 70%;
}

.settingTitle {
  font-size: 1.75rem;
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 5% 0 2.5% 0;
}

/* ================================== */

/* ========= Payment Form && Change Password ====== */

.formContainer {
  display: grid;
  grid-row-gap: 2rem;
}

.formBorder {
  margin: 1.5rem 0;
  border: 1px solid grey;
  border-radius: 10px;
}

/* .form {
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 25px 0;
} */

/* 
.formCell > button {
  padding: 10px 20px;
  background-color: #41521f;
  border: 1px solid #41521f;
  color: white;
  cursor: pointer;
} */

/* @media (max-width: 3000px) {
  .form input {
    margin: 10px 0;
  }

  .form {
    flex-direction: column;
    align-items: stretch;
  }
} */

/* ========================================= */

.navtab {
  background-color: white;
  color: black;
  padding: 0 10%;
  box-shadow: none;
  font-weight: 900;
}

.indicator {
  width: 1%;
}

.account {
  font-weight: 900;
}

.content {
  display: block;
  font-size: 1rem;
}

.heading {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
}

.subheading {
  display: flex;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: open-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.donorImg {
  width: 20%;
  height: 15%;
}

.display {
  display: none;
}
