.profileContainer {
    background-color: #F5FFF9;
    display: block;
    width: 100%;
    background-size: contain;
}

.profileImage {
    padding: 10px;
    border-radius: 50%;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.userName {
    font-size: 16px;
    font-family: Raleway, serif;
    font-weight: bolder;
    text-align: center;
}


.savedDoneesHeader {
    font-size: 20px;
    font-family: Raleway, serif;
    font-weight: bolder;
    padding-left: 70px;

}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    padding: 2rem 10% 1rem 10%;
}

.doneePicture {
    width: 160px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

}

.progress {
    width:200px;
    height:10px;
    border:1px solid #707070;
    position:relative;
    margin-top: 20px;
    margin-bottom: 5px;
}
.progress:after {
    content:'\A';
    position:absolute;
    background:#74BF89;
    top:0; bottom:0;
    left:0;
    width:50%; /* Specify the width.. */
}

.doneeLocation {
    display: flex;
    padding-top: 5px;
}

.locationIcon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

@media screen and (max-width: 1100px) {
    .cardContainer {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        align-content: center;
    }
}


@media screen and (max-width: 750px) {
    .cardContainer {
        grid-template-columns: 1fr;
        align-items: center;
        align-content: center;
    }
}