.profileContainer {
  background-color: #f5fff9;
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  padding: 1.5rem 0 0.5rem 0;
}

.profileImage {
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  display: block;
}

.userName {
  font-size: 16px;
  font-family: Raleway, serif;
  font-weight: bolder;
  text-align: center;
}

.savedDoneesHeader {
  font-size: 20px;
  font-family: Raleway, serif;
  font-weight: bolder;
  padding-left: 70px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 2rem 10% 1rem 10%;
}

.doneePicture {
  width: 160px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}


.doneeLocation {
  display: flex;
  padding-top: 5px;
}

.locationIcon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

@media screen and (max-width: 1100px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
  }
}

@media screen and (max-width: 750px) {
  .cardContainer {
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
  }
}
