.profileContainer {
  /* background-color: #f5fff9; */
  background-color: var(--main-highlight-color);
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  padding: 2rem 0 2rem 0;
}

.profileImage {
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  width: 15%;
  height: 15%;
  object-fit: contain;
  resize: inherit;
}

.userName {
  font-size: 16px;
  font-family: Raleway, serif;
  font-weight: bolder;
  text-align: center;
}

.savedDoneesHeader {
  font-size: 30px;
  font-family: Raleway, serif;
  font-weight: bolder;
  padding-left: 70px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 1rem 10% 3rem 10%;
}

.doneePicture {
  width: 120px;
  /* height: 120px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
  object-fit: contain;
  resize: inherit;
}

.doneeLocation {
  display: flex;
  padding-top: 5px;
}

.locationIcon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

/* No posts */
.noSavedDonees {
  padding: 0 30% 2rem 30%;
}

.noDoneeImg {
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
  }
}

@media screen and (max-width: 750px) {
  .cardContainer {
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
  }
  .profileImage {
    width: 30%;
    height: 30%;
  }

  .profileContainer {
    padding: 3rem 0 1rem 0;
  }
}
