.grid {
  display: grid;
  grid-auto-columns: 400px;
  grid-gap: 1rem;
}

.gridItemSplit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}

/* TODO: Legacy CSS, need to convert to material-ui */
.formContainer {
  margin: 0 auto;
  width: 500px;
}

.formFields {
  margin: auto;
  min-width: 85%;
  display: block;
  box-sizing: border-box;
}

.formField {
  padding: 20px 0px;
  /* text-align: center; */
}

.formFieldLabel {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: black;
}

.formFieldInput {
  width: 100%;
  border: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding: 0.75rem 1rem;
  margin-top: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

.formFieldButton {
  width: 100%;
  padding-bottom: 20px;
}

.errorMsg {
  color: red;
}
