.container {
  position: fixed;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
  background-color: lightgreen;
  z-index: 9000;
}

link {
  text-decoration: none;
}

.spacer {
  flex-grow: 1;
}

.navItems {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.navButtons {
  list-style: none;
  margin: 0;
  margin-left: auto;
  height: 100%;
  padding: 0;
  display: flex;
}

.navButton {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navButton:hover {
  cursor: pointer;
  border-bottom: 4px solid green;
}

/* .navButtonItem {
} */
