.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 3.5rem;
  border-bottom: 0.5px solid #17171770;
  background: #fefefe;
  z-index: 99;
}

.logo {
  display: flex;
  height: 100%;
}

.spacer {
  flex: 1;
}

.navBarItems a {
  color: #171717;
  text-decoration: none;
}

.navBarItems ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 3rem;
  display: flex;
  white-space: nowrap;
}

.navBarItems li {
  padding: 0 2rem;
  display: inline-block;
}

.navBarItem:hover,
.navBarItem:active {
  color: #41521f;
}

.drawerToggleButton {
  margin-left: auto;
}

.navBarItem:hover,
.navBarItem:active {
  border-bottom: 2px solid #37433c;
  padding-bottom: 1px;
}

@media screen and (max-width: 800px) {
  .spacer {
    display: none;
  }

  .navBarItems {
    display: none;
  }

  .callToAction {
    display: none;
  }

  .logo {
    justify-self: center;
  }
}
