.userProfileContainer {
  width: 100%;
  display: block;
}

.editProfileButton {
  color: #41521f;
  border-color: #41521f;
  position: absolute;
  margin-top: 3px;
  margin-right: 5px;
  padding-top: 1rem;
  padding-left: 1rem;
  right: auto;
}
