/* ============= Main Section ============== */
.doneeProfileContainer {
  background-color: #f5fff9;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}

.pictureContainer {
  display: flex;
}
.doneePicture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  resize: inherit;
}

.doneeDetailsContainer {
  margin: auto 0 auto 0;
}

.doneeName {
  font-size: 4vw;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.amountFunded {
  padding-top: 1rem;
  color: #096927;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

.buttonContainer {
  display: flex;
}

@media screen and (max-width: 550px) {
  .doneeProfileContainer {
    grid-template-columns: 1fr 2fr;
  }
}

/* ============== Tab Component =============== */

.tabContainer {
  margin-top: 2rem;
  padding: 0 20%;
  padding-block-end: 4rem;
}

.tabContainerGrid {
  display: grid;
  grid-gap: 2rem;
}

.titleField {
  margin: normal;
  width: 25%;
}

.postField {
  margin: normal;
  width: 50%;
}

.navtab {
  margin: 0 5%;
}

/* ============= About Tab =========== */
.aboutTitle {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  padding-top: 1rem;
}

.aboutText {
  color: #37433c;
  font-weight: lighter;
  font-family: "Source Sans Pro", sans-serif;
  width: 90%;
}

li {
  display: list-item;
  list-style-position: inside;
  padding-bottom: 0.5rem;
  padding-left: 0;
}

ol {
  padding-left: 0;
}

.textContainer {
  padding-bottom: 1rem;
}

.locationInput {
  display: block;
  padding: 1% 10rem 1% 1%;
  text-align: left;
  font-weight: lighter;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.editText {
  width: 90%;
  height: 100px;
  padding: 1% 1% 1% 1%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 1rem;
  resize: none;
  font-weight: lighter;
  font-family: "Source Sans Pro", sans-serif;
}

/* ================ Posts =============== */

.postContainer {
  display: unset;
}

.postTitleContainer {
  display: flex;
}

.postTitle {
  font-family: open-sans, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

.postDate {
  font-size: 0.5rem;
}

.postContent {
  font-size: 1rem;
}

/* ============== New Posts ============= */
.newPostBorderBox {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.newPostLabel {
  background-color: lightgray;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.newPostTextField {
  padding: 0.5rem 1rem;
}

.newPostBtns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

/* misc */
.spacer {
  flex: 1 1;
}
