.toggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  right: 0;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonLine {
  display: none;
}

.avatar {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  /* div:has(.avatar) {
    display: none;
  } */
  .avatar {
    display: none !important;
  }

  .toggleButtonLine {
    display: flex;
    width: 30px;
    height: 2px;
    background: #171717;
  }
}
