.searchBarContainer {
  margin: 2rem 10% 0 10%;
}
.inputBaseConatiner {
  margin: 0 auto;
}

.doneesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem 10% 0 10%;
}
